@model Asteria.Models.Collection


@{
    ViewBag.Title = "Create Collection";
}


<h2 class="text-center text-white lead" style="font-size:30px">Creeaza-ti Categoria</h2>
<div class="text-white">
@using (Html.BeginForm(actionName: "New", controllerName: "Collections", method: FormMethod.Post))
{

    @Html.Label("CollectionName", "Name your collection")
    <br />

    @Html.TextBox("CollectionName", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.CollectionName, null, new { @class = "text-danger" })
    <br />

    @Html.Label("Description", "Add a description")
    <br />

    @Html.TextBox("Description", null, new { @class = "form-control" })

    <br />

    <br />

    <button class="btn btn-success" type="submit">Add category</button>

}
</div>