@model Asteria.Models.ApplicationUser

@{
    ViewBag.Title = @Model.Nickname;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{
    List<Post> userposts = ViewBag.UserPosts;
}
@if (TempData.ContainsKey("message"))
{
    <h2 class=@TempData["messageType"]>@TempData["message"]</h2>
}
@if ((string)Model.Id == ViewBag.UserCurent)
{
    <h2 class="text-white"> Your profile! </h2>
}
else
{
    <h2 class="text-white"> Profile of @Model.Nickname </h2>
}
<br />
<div class="card mt-3" style="height:100%; width: 100%;">

    <div class="card-body d-flex justify-content-between flex-column text-white bg-black">
        <div>
            <p style="20px"><i class="bi bi-person"> </i> Nickname: @Model.Nickname</p>
            <p class="text-white"> Profile Picture:</p>
            @if (Model.ProfilePic != null)
            {
                <img style="width:65px;height:65px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(@Model.ProfilePic))">
            }
            else
            {
                <p class="text-white">No profile picture</p>
            }


            <p><i class="bi bi-envelope"></i> Email: @Model.Email</p>

            @if (ViewBag.Roles != null && ViewBag.Roles.Count > 0)
            {
                <p><i class="bi bi-person"> </i> Roles:</p>
                @foreach (var role in ViewBag.Roles)
                {
                    <span class="rounded-pill bg-dark mr-2 px-4 py-2 text-white">@role</span>
                }
            }

            @if (ViewBag.UserCurent != Model.Id)
            {
                <form method="post" asp-controller="Users" asp-action="SendFriendRequest">
                    <input type="hidden" name="senderId" value=@ViewBag.UserCurent>
                    <input type="hidden" name="receiverId" value=@Model.Id>
                    <button type="submit" class="btn btn-success">Add as friend?</button>
                </form>
            }



        </div>

        <div class="d-flex flex-row justify-content-between p-3">
            @if (ViewBag.EsteAdmin == true || ViewBag.UserCurent == Model.Id && ViewBag.AfisareButoane == true)
            {
                <a class="btn btn-success" href="/Users/Edit/@Model.Id">Edit profile</a>
                <a class="btn btn-success" href="/Users/FriendRequests/@Model.Id">Check Friend Requests</a>
                <a class="btn btn-success" href="/Users/FriendList/@Model.Id">Friend List</a>
            }
            @if ((string)Model.Id != ViewBag.UserCurent && ViewBag.EsteAdmin == true)
            {


                @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
                {

                    <button class="btn btn-danger" type="submit">Delete user</button>

                }
            }


        </div>
    </div>
</div>
<div class="" d-flex align-items-center"">
    <h3 class="text-white"> Saved posts </h3>

    @if (userposts.Count > 0)
    {
        @foreach (var bm in userposts)
        {
            <a class="btn btnn-success m-2" href="/Posts/Show/@bm.Id">
                <div class="col-12">
                    <div class="card" style="width: 100%;">

                        <div class="card-body m-2">

                            @Html.Partial("PostInfo", @bm)

                        </div>
                    </div>
                </div>
            </a>
        }

    }
    else
    {
        <div class="card-body d-flex justify-content-between">
            @if (ViewBag.UserCurent == Model.Id)
            {
                <p class="text-white">Momentan nu ai postari salvate!</p>
                <a class="bth btn-success" href="/Posts/Index">Search for posts</a>
            }
            else
            {
                <p class="text-white">This user has no saved posts yet</p>
            }

        </div>
    }
</div>








